$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.SofiaProExtraLight { 
  font-family: SofiaProExtraLight;
  font-weight: normal;
  font-style: normal;
}
.SofiaProUltraLight { 
  font-family: SofiaProUltraLight;
  font-weight: normal;
  font-style: normal;
}
.SofiaProLight { 
  font-family: SofiaProLight;
  font-weight: normal;
  font-style: normal;
}
.SofiaProUltraLight-Italic { 
  font-family: SofiaProUltraLight-Italic;
  font-weight: normal;
  font-style: normal;
}
.SofiaProRegular { 
  font-family: SofiaProRegular;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: SofiaProRegular;
}

///Colors
$glasschart-blue: #0061AE;
$glasschart-green: #33C133;
$glasschart-orange: #F64E2A;
$glasschart-purple: #B2116D;

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
a {
  color: #333333;
}
section {
  padding: 60px 0px;
  height: 100%;
}

// base styles
.glasschart-blue {
  color: $glasschart-blue;
}

.glasschart-green {
  color: $glasschart-green;
}

.glasschart-orange {
  color: $glasschart-orange;
}

.glasschart-purple {
  color: $glasschart-purple;
}

.font-26 {
  font-size: 26px;
}

// boostrap overides
.thumbnail {
  border: none;
}

/* Nav styles */
.navbar-fixed-top {
  top: 10px;
}

.navbar-logo {
  display: inline-block;
}
.nav-logo {
  height: 50px;
}

.navbar-menu {
  display: inline-block;
  float: right;
}

.menu-list {
  float: right;
  font-size: 24px;
}

.nav-link {

}

ul {
  list-style-type: none;
}

// landing section
.sizer {
  height: 700px;
  margin-top: -80px;
  margin-bottom: -20px;
}

.tagline-row {
  font-size: 36px;
}

/* glasschart section styles */
.glasschart-section-logo {
  height: 200px;
  margin-bottom: 40px;
}

img.glasschart-section-icon {
  height: 200px;

}

.green-plus {
  color: $glasschart-blue;
  font-size: 50px;
  margin-top: 50%
}

.blue-plus {
  color: $glasschart-green;
  font-size: 50px;
  margin-top: 25%;
}

.glasschart-section-icon-text {
  font-size: 20px;
  color: #929292;
}

.glasschart-section-text {
  font-size: 22px;
}

/*smarthands section styles */
.smarthands-section-logo {
  width: 300px;
}

.smarthands-section-video {
  // width: 100%;
  height: 600px;
  margin-top: 10px; 
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* team section */

.leadership-img-holder {
  position: relative;
}

a > img.leadership-img {
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.leadership-link {
  color: $glasschart-green;
}

.eb-img {
  border: 3px solid $glasschart-orange;
}

.leadership-hover {
  display: none;
  position: absolute;
  top: 40%;
  left: 45%;
}

.leadership-img:hover {
    opacity: .3;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    //background: black;
}

.leadership-img:hover + .leadership-hover {
    display: block;
}
.nh-img {
  border: 3px solid $glasschart-blue;
}

.jm-img {
  border: 3px solid $glasschart-green; 
}

img.advisory-img {
  height: 100px;
  border-radius: 50%;
  border: 2px solid $glasschart-purple;
}

/* secret section */
.secret-section-undertext {
  margin-top: -10px;
}
.secret-section-video {
  height: 460px;
  margin-bottom: 20px;
  box-shadow: -5px 5px 5px 0px $glasschart-purple;

}
.pdf-icon {
  height: 60px;
}


// style for the update browser if less than ie10
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
