$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

///Colors
$glasschart-blue: #0061AE;
$glasschart-green: #33C133;
$glasschart-orange: #F64E2A;
$glasschart-purple: #B2116D;

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

// boostrap overides
.thumbnail {
  border: none;
}

/* Nav styles */
.navbar-fixed-top {
  top: 10px;
}

.navbar-logo {
  display: inline-block;
}
.nav-logo {
  height: 50px;
}

.navbar-menu {
  display: inline-block;
  float: right;
}

.menu-list {
  float: right;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

/* glasschart section styles */
.glasschart-section-logo {
  height: 200px;
}

img.glasschart-section-icon {
  height: 200px;

}

.green-plus {
  color: $glasschart-blue;
  font-size: 50px;
  margin-top: 50%
}

.blue-plus {
  color: $glasschart-green;
  font-size: 50px;
  margin-top: 25%;
}

/*smarthands section styles */
.smarthands-section-logo {
  width: 300px;
}

.smarthands-section-video {
  width: 100%;
}

/* team section */

.leadership-img-holder {
  position: relative;
}

a > img.leadership-img {
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.leadership-link {
  color: $glasschart-green;
}

.eb-img {
  border: 3px solid $glasschart-orange;
}

.leadership-hover {
  display: none;
  position: absolute;
  top: 40%;
  left: 45%;
}

.leadership-img:hover {
    opacity: .3;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    //background: black;
}

.leadership-img:hover + .leadership-hover {
    display: block;
}
.nh-img {
  border: 3px solid $glasschart-blue;
}

.jm-img {
  border: 3px solid $glasschart-green; 
}

img.advisory-img {
  height: 100px;
  border-radius: 50%;
  border: 2px solid $glasschart-purple;
}

/* secret section */
.pdf-icon {
  height:100px;
}


// style for the update browser if less than ie10
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
